.but{
    float: right;
    padding: 3px;
    margin-right: -10%;
    margin-top: -5%;
}
.my{
    float:left;
    margin-bottom:100%;
    margin-left: 90%; 
    margin-right: 10%;
}
.txt{
    float:right;
    margin-top: -115%;
    margin-right: -160%;
    margin-bottom:- 10%
    
}
.share{
    margin-top:5%;
}
.pictures{
    float:right;
    margin-top:-100%;
    margin-right: 20%;
    margin-bottom:100%
}
.item

{
    float: right;
    padding: 5px 5px;
    display: inline-block;
    margin:5px;
}
.im{
    float: right;
}